{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row align-items-center mx-auto bg-white border-bottom box-shadow" style="max-width:1000px">
        <div class="col" style="height:30px;">
            <p class="text-center">
                <a class="text-dark cu-font" href="#">퍼즐매치</a>
            </p>
        </div>
        <div class="col" style="height:30px;">
            <p class="cu-font text-center">
                <a class="text-dark" href="#">체육관</a>
            </p>
        </div>
        <div class="col" style="height:30px;">
            <p class="cu-font text-center">
                <a class="text-dark" href="#">랭크</a>
            </p>
        </div>
        <div class="col" style="height:30px;">
            <p class="cu-font text-center">
                <a class="text-dark" href="#">기록실</a>
            </p>
        </div>
        <div class="col" style="height:30px;">
            <p class="cu-font text-center">
                <a class="text-dark" href="#">동호회</a>
            </p>
        </div>
    </div>
</div>

<div class="row align-items-center mx-auto bg-white mt-3" style="max-width:1000px">
    <div class="section">
        <input type="radio" name="slide" id="slide01" checked>
        <input type="radio" name="slide" id="slide02">
        <input type="radio" name="slide" id="slide03">

        <div class="slidewrap">
            <ul class="slidelist">
                <li>
                    <a>
                        <label for="slide03" class="left"></label>
                        <img src="{% static "con3.PNG" %}" height="500px"/>
                        <label for="slide02" class="right"></label>
                    </a>
                </li>
                <li>
                    <a>
                        <label for="slide01" class="left"></label>
                        <img src="{% static "con2.PNG" %}" height="500px"/>
                        <label for="slide03" class="right"></label>
                    </a>
                </li>
                <li>
                    <a>
                        <label for="slide02" class="left"></label>
                        <img src="{% static "con1.PNG" %}" height="500px"/>
                        <label for="slide01" class="right"></label>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}